
@font-face {
  font-family: "stylo";
       src: url("../fonts/juergen-stylo.woff2") format("woff2");
}
@font-face {
  font-family: "manuscript";
       src: url("../fonts/juergen-manu.woff2") format("woff2");
}
@font-face {
  font-family: "stylo-min";
       src: url("../fonts/juergen-stylo-min.woff2") format("woff2");
}
@font-face {
  font-family: "manuscript-min";
       src: url("../fonts/juergen-manu-min.woff2") format("woff2");
}
.sMINU, jsMINU { font-family: "stylo-min"; font-weight: normal; }
.sLMINU { font-family: "stylo-min"; font-weight: normal; font-size: 18pt; 
	word-break:break-all;
}
.mMINU, jmMINU, B { font-family: "manuscript-min"; font-weight: normal;}
td B, .MLMINU { font-family: "manuscript-min"; font-weight: normal; font-size: 18pt;
	word-break:break-all;
}
.s, js { font-family: "stylo"; font-weight: normal; }
.sL { font-family: "stylo"; font-weight: normal; font-size: 18pt; 
	word-break:break-all;
}
.m, jm { font-family: "manuscript"; font-weight: normal;}
.ML { font-family: "manuscript"; font-weight: normal; font-size: 18pt;
	word-break:break-all;
}
code { font-family: 'Courier new', courier, monospace; }
table { border-collapse: collapse; }
th { border-bottom: solid 1px; }
td { border-bottom: dotted 1px; }
table thead { background-color: lightgrey; }
table td { font-size: 16pt; }
td, th { padding-right: 10pt; }
h1 { font-size: 24pt; }
h2 { font-size: 20pt; margin-top: 30pt; }
h3 { font-size: 18pt; margin-top: 30pt; }
h4 { font-size: 16pt; }
table { width: 450px; }
body { 
  font-family: "Palatino Linotype", "Times New Roman", Hannari, serif;
  font-size: 14pt;
  line-break: strict;
  background-image: url('../images/paperpattern.png');
}
.multicolumn {
  margin: 20pt; 
  column-width: 580px;
  column-gap: 24px;
  column-rule: 1px solid black;
}
textarea::placeholder {
  color: rgba(0,0,0,.3);
}
textarea {
  width: 80%;
  font-size: 14pt;
  color: black;
  background-color: #e0c9a6;
  border: 4px outset gray;
}
body > * { 
  margin-left: 20pt; 
}
h1, h2, h3 { margin-left: 5pt; }
h1 { text-align: center; }
h3::before{ content: "\02712\0fe0f"; }
h2::before{ content: "\01f4d6"; }
td span { work-break; break-all; }
#tampon { display: none; }
.multicolumn #tampon { 
	display: block;
	position: absolute; left: 20px; top: 100px; opacity: 0.7;
	contain: layout;
}

.alert {
  font-size: 11pt;
  width: 85%;
  background-color: pink;
  border-radius: 10px;
}

blockquote {
	background-color: #f0f0f0;
	margin-left: 5em;
}
blockquote:before{
  font-family: "Times New Roman", "Times Roman", "Times", serif;
  font-size: 32pt;
  content: '\201d';
  margin-bottom: 0pt;
}
